h1 {
    color: red;
}

h2 {
    color: green;
}

div.head2 > span {
    color: blue;
}

[data-id="box2"] {
    color: magenta;
}

div.head2 > div > span:first-child {
    color: #11c6b1;
}

div.head2 > div > span:last-child {
    color: #11c6b1;
}

div.head2 > div > span:nth-child(4) {
    color: #11c6b1;
}

table {
    border: 1px solid black;
}

table tbody tr:nth-child(odd) {
    background-color: aqua;
}